@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

.root {
  position: relative;
  z-index: 100;
}

.topTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  text-transform: uppercase;
  padding: 2em 0 1em 0;
  letter-spacing: 1px;
}

.title {
  font-weight: 300;
  font-size: var(--font-title2-size);
  line-height: var(--font-title2-line-height);
  margin: 0;

  @media (--media-min-small) {
    font-size: var(--font-title1-size);
    line-height: var(--font-title1-line-height);
  }

  @media (--media-min-medium) {
    font-size: var(--font-title1-size);
    line-height: var(--font-title1-line-height);
  }
}

.subtitle {
  font-weight: 300;
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
  margin: 1rem 0 0.5rem;

  @media (--media-min-small) {
    font-size: var(--font-base-size);
    line-height: var(--font-base-line-height);
  }

  @media (--media-min-medium) {
    font-size: var(--font-large-size);
    line-height: var(--font-large-line-height);
  }
}

.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--color-black);
  color: var(--color-white);

  @media (--media-min-small) {
    padding: 1em 1em;
  }
}

.wrapperInner {
  display: flex;
  width: 100%;
  max-width: 960px;
}

.toggleNavButton {
  appearance: none;
  font-size: 25px;
  border: none;
  background: none;
  margin: 0;
  padding: calc(14 / 17 / 2 * 1rem);
  outline: none;
  color: inherit;

  & svg {
    display: block;
    fill: inherit;
  }

  @media (--media-min-small) {
    display: none;
  }
}

.nav {
  display: none;

  @nest & ul {
    margin: 0;
    padding: 0;
  }

  @nest & ul li a {
    display: block;
    color: inherit;
    text-decoration: none;
  }

  @media (hover: hover) {
    @nest & ul li a:hover {
    }
  }

  @media (--media-max-small) {
    position: absolute;
    background: var(--color-white);
    color: var(--color-black);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    left: 0;
    right: 0;
    top: 18.6rem;

    @nest & ul {
      padding: 1rem 0;
    }

    @nest & ul li a {
      padding: 0.5rem 1.5rem;
    }
  }

  @media (--media-min-small) {
    display: block;

    @nest & ul {
      list-style: none;
      display: flex;
      justify-content: flex-end;
    }

    @nest & ul li a {
      padding: 0.5rem;
    }
  }
}

.showNav {
  display: block;
}
