@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: var(--color-white);
  min-height: calc(100% - 73px - 120px);

  @media (--media-min-small) {
    min-height: calc(100% - 91px - 155px);
  }
}

.mainContent {
  max-width: 100%;
}

.sidebarContent {
}
